* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#mainpage {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hideObj {
    display: none !important;
}

::-webkit-scrollbar {
    width: 0.5vw !important;
    height: 0.5vw !important;
    background-color: #F5F5F5;
    border-radius: 2vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 2vw;
}

::-webkit-scrollbar-thumb {
    background: #B3B3B3;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #B3B3B3;
}

#loader {
    z-index: 30000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

#loader.whiteBg {
    background-color: transparent;
}

#loader>div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10003;
    margin: -3vw 0 0 -3vw;
    border: 1vw solid #f3f3f3;
    border-radius: 50%;
    border-top: 1vw solid rgba(84, 198, 255, 1);
    width: 6vw;
    height: 6vw;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Login */

.navLogin {
    display: flex;
    justify-content: space-between;
    height: 5vw;
    padding: 0 5vw;
    border-bottom: 1px solid #AFABAB;
}
.navFr {
    display: flex;
    justify-content: space-between;
    height: 200vh;
    padding: 0 0vw;
    background-color:#FFF;
}
.navLogin .img_leo {
    width: 8vw;
    height: 5vw;
    display: block;
}

.navLogin .img_dig {
    margin: 0.4vw 0;
    width: 18vw;
}

.mainLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: calc(100% - 8vw);
}
.mainFr {
    display: block;
    position: relative;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
}
.loginHead {
    width: 22vw;
    font-size: 2vw;
    padding: 0 0.5vw 2vw;
}

#loginPage {
    width: 22vw;
    height: 25vw;
    background: #FAF9F5;
    border-radius: 0.2vw;
    padding: 1vw 2vw;
    box-shadow: 0 0 10px #3f474f4f;
}

.loginH {
    font-size: 2vw;
    font-weight: bold;
}

#login-form label {
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 0.5vw;
}

#login-form input {
    display: block;
    width: 100%;
    padding: 0.5vw 1vw;
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 1.5;
    color: #4790d0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#login-form input:focus, #login-form input:hover {
    background-color: #fff;
    border-color: #4790d0;
    outline: 0;
}

.btn-login {
    background-color: #4790D0 !important;
}

#loginPage button {
    font-weight: 500;
    width: 100%;
    font-size: 1.2vw;
    padding: 0.5vw 1.5vw;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5vw;
    background-color: #f2f2f2;
    color: #878787;
    padding: 0 1vw;
    font-size: 1vw;
}

#copyright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#contactSym {
    float: right;
}

#contactSym div {
    display: inline-block;
    vertical-align: middle;
}

#contactSym>div {
    padding-left: 1vw;
}

#contactSym a {
    color: #337ab7;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    align-items: center;
}

#contactSym>div>a>span:not(.mailIcon) {
    color: #878787;
}

.mailIcon, .fbIcon, .ytIcon {
    font-size: 1.8vw;
    padding-right: 0.2vw;
}

.mailIcon {
    color: #007fbd;
}

.fbIcon {
    color: #007fbd;
}

.ytIcon {
    color: red;
}

/* NavBar */

#navTab {
    height: 3vw;
    background: #1f74a7;
}

#mainMenu {
    position: absolute !important;
}

#navTab a {
    font-size: 1vw;
    padding: 0.2vw 1.2vw;
    color: white;
}

#navTab a:hover {
    color: #0a163c !important;
    border-radius: 0.2vw;
    font-weight: bold;
}

.active>#mainMenu .nav-link {
    color: #2280eb !important;
}

.navbar-nav>.nav-item.active>a {
    background: #8BC7EB;
    color: #0a163c !important;
    border-radius: 0.2vw;
    font-weight: bold;
}

/* Main */

#mainSide {
    height: calc(100% - 3vw);
    display: flex;
}

/* Main Left */

#mainLeft {
    width: 16vw;
    height: 100%;
    padding: 1vw;
    overflow: auto;
    border-right: 1px solid #E5E5E5;
    background-color: #eef6f7;
}

#mainLeft svg {
    margin-left: 0.5vw;
}

.zoneSub_parent {
    font-size: 1vw;
    padding: 0.5vw 0;
    font-weight: bold;
    cursor: pointer;
    color: #0a163c;
}

.zoneSub {
    display: none;
    font-size: 0.9vw;
    padding-left: 1vw;
    font-weight: 500;
}

.zoneSub ul {
    padding-left: 1vw;
    margin-bottom: 0;
}

.zoneSub li {
    cursor: pointer;
    padding: 0.3vw 0;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.zoneSub li:hover, .zoneSub_parent:hover {
    color: blue;
    overflow: visible;
    white-space: inherit;
}

.zoneSub li.active {
    color: blue;
    font-weight: bold;
    outline: none;
}

/* Main Right */

#mainRight {
    width: calc(100% - 16vw);
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 1vw;
}

#graph_parent {
    overflow: auto;
    height: 100%;
    padding-bottom: 1vw;
}

#button_zone, #tab_graph {
    display: flex;
    width: 100%;
    height: 3vw;
    overflow-x: auto;
    font-size: 1vw;
}

.myButton {
    box-shadow: 0.15vw 0.15vw 0px 0px #1564ad;
    background-color: #c4e0f0;
    border-radius: 0.2vw;
    border: 0;
    cursor: pointer;
    color: #0a163c;
    font-size: 1vw;
    padding: 0.2vw 1vw;
    margin: 0.2vw 0.4vw 0.2vw 0;
    text-decoration: none;
    width: max-content;
}

.myButton:hover {
    background-color: #8BC7EB;
    color: #0a163c;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.myButton.active {
    outline: none;
    background-color: #1f74a7;
    color: white;
    font-weight: bold;
}

#filter_zone {
    height: 5vw;
    padding: 1vw 0;
    font-size: 1vw;
    color: #0a163c;
    ;
}

#filterTab span, #filterNum span {
    overflow: hidden;
}

#filterNum span:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 93%;
    left: 1vw;
}

#filterTab svg {
    font-size: 1.2vw;
    width: 1.2vw;
    vertical-align: -0.25vw;
}

#filterNum {
    padding-left: 1.2vw;
}

#filterHead {
    display: block;
    cursor: pointer;
}

#filterInput {
    display: none;
    padding: 1vw 4vw;
}

#filterInput label {
    display: block;
    text-align: center;
}

#filterInput select, #filterInput input {
    width: 100%;
    background: #CBEEF5;
    border-radius: 0.2vw;
    border: 1px solid #81B2BF;
    color: #0a163c;
    padding: 0.2vw 1vw;
    cursor: pointer;
}

#filterInput select:disabled {
    background: rgba(118, 118, 118, 0.3) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
    cursor: unset;
}

#filterInput input {
    padding: 0.2vw 0.5vw 0.2vw 1vw !important;
}

#filterInput select:focus, .myButton:focus, .zoneSub li:focus, #filterInput input:focus {
    outline: none;
}

#filterInput button {
    font-size: 1vw;
    padding: 0 0.5vw 0.4vw;
    background-color: #0785AF;
    border: 1px solid #0785AF;
}

#table_zone {
    width: 100%;
    height: calc(100% - 8vw);
    overflow-x: auto;
    text-align: center;
}

#table_zone th, #table_zone td {
    border: 0.1vw solid #81b2bf5f;
    color: #0a163c;
    ;
}

#table_zone th {
    background-color: #8bc7eb8c;
    font-size: 1vw;
    padding: 0.5vw 0.2vw;
}

#table_zone td {
    font-size: 0.9vw;
    padding: 0.5vw 0.2vw;
}

#filterTable {
    height: 100%;
    width: max-content;
    border-radius: 0.2vw;
    overflow: hidden;
}

#filterTable svg {
    font-size: 1.2vw;
}

#iconExplain svg {
    font-size: 0.9vw;
}

#filterTable .fa-power-off, #iconExplain .fa-power-off {
    color: #DB947B;
}

#filterTable .fa-exclamation-triangle, #iconExplain .fa-exclamation-triangle {
    color: #EBC802;
}

#filterTable .fa-exclamation-circle, #iconExplain .fa-exclamation-circle {
    color: #CE3128;
}

#filterTable .fa-check-square, #iconExplain .fa-check-square {
    color: #54C5A3;
}

#filterTable tbody {
    display: block;
    overflow: auto;
    word-break: break-word;
    height: calc(100% - 2.5vw);
    width: auto;
	padding-bottom: 1vw;
}

#filterTable tr:nth-child(odd) {
    background: #FFFFFF
}

#filterTable tr:nth-child(even) {
    background: #eef6f7
}

.w-4vw {
    width: 4vw;
}

.w-6vw {
    width: 5.2vw;
}

.w-8vw {
    width: 8vw;
}

.w-11vw {
    width: 11vw;
}

#main_switch {
    height: calc(100% - 3vw);
}

#mainTop {
    height: calc(100% - 2vw);
}

#iconExplain {
    display: flex;
    flex-direction: column;
    height: 2vw;
    justify-content: center;
}

#iconExplain span {
    font-size: 0.9vw;
    padding: 0.4vw 1vw 0;
}

.iconHead {
    font-size: 0.9vw;
    border-radius: 0.2vw;
    padding-top: 0.4vw;
    font-weight: bold;
}

.blurBack {
    -webkit-filter: blur(5px) !important;
}

/* Modal */

#wrongPass .modal-header, #alertDup .modal-header, #alertFail .modal-header, #alertFillForm .modal-header, #alertSuccess .modal-header, #confirmDelete .modal-header {
    border-bottom: 0 !important;
    text-align: center;
    padding: 1rem 1rem 0 !important;
}

#wrongPass .modal-body button, #alertDup .modal-body button, #alertFillForm .modal-body buttonม #alertSuccess .modal-body button, #confirmDelete .modal-body button {
    font-size: 1.2vw;
}

#wrongPass .modal-header svg, #alertDup .modal-header svg, #alertFillForm .modal-header svg, #confirmDelete .modal-header svg {
    width: 4vw;
    height: 6vw;
    color: orange;
}

#alertFail .modal-header svg {
    width: 5vw;
    height: 6vw;
    color: red;
}

#alertFail .modal-header {
    color: red;
}

#alertSuccess .modal-header svg {
    width: 5vw;
    height: 6vw;
    color: green;
}

/* Datepicker */

.datepicker.dropdown-menu {
    width: 16vw !important;
    height: 17vw !important;
    font-size: 1vw !important;
    padding: 0.2vw !important;
    line-height: 0 !important;
    min-width: 20vw !important;
}

.datepicker.dropdown-menu th, .datepicker.dropdown-menu td {
    padding: 0.2vw 0.4vw !important;
}

.datepicker table tr td, .datepicker table tr th {
    width: 3vw !important;
    height: 2vw !important;
}

.datepicker-years .table-condensed, .datepicker-months .table-condensed, #input_smallLeft, #input_smallRight, #table_top, #newForm_small #table_top, #newForm_small #top_section, #optionList button {
    width: 100%;
}

.datepicker table tr td span {
    height: 4vw !important;
    line-height: 4vw !important;
}

.daterangepicker {
    width: auto !important;
}

.daterangepicker .drp-calendar.left {
    padding: 0.4vw 0 0.4vw 0.4vw !important;
}

.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    border-width: 0 0.1vw 0.1vw 0 !important;
    padding: 0.2vw !important;
}

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
    min-width: 2vw !important;
    width: 2vw !important;
    height: 1.3vw !important;
    line-height: 1.9vw !important;
    font-size: 0.9vw !important;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
    font-size: 0.9vw !important;
}

.daterangepicker select.monthselect {
    width: 60% !important;
}

.daterangepicker .drp-selected {
    vertical-align: middle !important;
    font-size: 0.9vw !important;
    padding-right: 0.4vw !important;
    font-weight: bold;
}

.daterangepicker .drp-buttons .btn {
    margin-left: 0.2vw !important;
    font-size: 0.9vw !important;
    padding: 0.2vw 0.4vw !important;
    font-weight: 500 !important;
}

.daterangepicker .ranges li {
    font-size: 0.9vw !important;
    padding: 0.5vw 0.6vw !important;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
    font-size: 1vw !important;
}

.daterangepicker .calendar-time {
    line-height: 1vw !important;
}

.daterangepicker .drp-calendar.right {
    padding: 0.4vw !important;
}

/* Graph */

#graph_head {
    display: flex;
    justify-content: space-between;
    height: 4vw;
}

.graph_info_group {
    padding: 0 2vw;
    font-size: 1vw;
}

.graph_info_group span {
    color: gray;
}

.graph_info_group div {
    font-weight: bold;
}

#graph_main, #bar_main {
    display: flex;
    height: calc(100% - 4vw);
    padding: 1vw 2vw;
    overflow: auto;
}

#graph_mainLeft {
    width: 70%;
}

#graph_mainTop {
    display: flex;
    justify-content: space-between;
}

#graph_mainBottom {
    display: flex;
    justify-content: center;
    margin-top: -1vw;
}

.grpah_box {
    width: 16vw;
    height: 8vw;
    border: 0.1vw solid #dcdbd7;
    border-radius: 0.5vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
}

.graph_info {
    height: calc(100% - 3vw);
    padding: 0.2vw 0.2vw 0.2vw 1vw;
}

.graph_info span {
    color: gray;
    font-size: 1.2vw;
}

.graph_info .val_display {
    font-size: 1.8vw;
    font-weight: bold;
    padding: 0.5vw 0.2vw 0.5vw 1vw;
}

#batt_display {
    color: gray;
    font-size: 1vw;
}

.click_graph {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}

.canvas_parent {
    height: 3vw !important;
    cursor: pointer;
}

.text_parent {
    display: flex;
    flex-direction: column;
    background: #FAF9F5;
    color: #969591;
    border: 0.1vw solid #DCDBD7;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    padding: 0.5vw;
    margin: -0.1vw;
    border-top: 0;
    height: 4vw;
}

#graph_mainMiddle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#move_parentTop {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 8vw;
}

#move_parentBottom {
    width: 100%;
    height: 10vw;
    margin-top: -3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graph_mainRight {
    display: flex;
    justify-content: center;
    width: 30%;
}

/* Dot Move */

.game {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0%, 0%);
    height: 0.41vw;
    width: 36%;
    border-top: solid 0.1vw #DCDBD7;
    border-bottom: solid 0.1vw #DCDBD7;
    background-color: #FAF9F5;
    overflow: hidden;
    margin-top: 4vw;
    z-index: -2;
}

.dot {
    position: absolute;
    width: 0.8vw;
    height: 100%;
    background-color: #4790D0;
    right: -2vw;
    animation: dot 8s infinite linear;
    -webkit-animation: dot 8s infinite linear;
    animation-direction: reverse;
}

.dotDown:nth-child(1), .dot:nth-child(1), .dotCharge:nth-child(1) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.dot:nth-child(2), .dotDown:nth-child(2), .dotCharge:nth-child(2)  {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.dot:nth-child(3), .dotDown:nth-child(3), .dotCharge:nth-child(3) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.dot:nth-child(4) {
    -webkit-animation-delay: 7s;
    animation-delay: 7s
}

.dot:nth-child(5), .dotUp:nth-child(1) {
    -webkit-animation-delay: 9s;
    animation-delay: 9s
}

.dotUp:nth-child(2) {
    -webkit-animation-delay: 11s;
    animation-delay: 11s
}

.dotUp:nth-child(3) {
    -webkit-animation-delay: 13s;
    animation-delay: 13s
}

@-webkit-keyframes dot {
    0% {
        right: 0
    }
    100% {
        right: 100%;
    }
}

@keyframes dot {
    0% {
        right: 0
    }
    100% {
        right: 100%;
    }
}

/* Vetival Dot Move */

.game2, .game3 {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0%, 0%);
    height: 100%;
    width: 0.43vw;
    border-left: solid 0.1vw #DCDBD7;
    border-right: solid 0.1vw #DCDBD7;
    background-color: #FAF9F5;
    overflow: hidden;
    z-index: -1;
    margin-left: -0.4vw;
    margin-bottom: 0.3vw;
}

.dotDown, .dotUp, .dotCharge {
    position: absolute;
    top: -2vw;
    width: 100%;
    height: 0.8vw;
    background: #4790D0;
    -webkit-animation-name: moveDown;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
}

.dotUp {
    animation-direction: reverse;
}

.dotCharge {
    animation-direction: reverse;
    -webkit-animation-timing-function: ease;
}

@-webkit-keyframes moveDown {
    0% {
        top: 0;
    }
    100% {
        top: 100%;
    }
}

.game3 {
    margin-top: -3vw;
    height: 7vw;
    z-index: -1;
}

.square_div {
    width: 6vw;
    height: 5.5vw;
    font-size: 1.5vw;
    background: #387dc5;
    color: #ffe000;
    font-weight: 500;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bar Chart */

#bar_main {
    background: #f3f3f3;
    border-radius: 0.5vw;
    padding: 2vw;
}

#bar_mainLeft {
    width: 60%;
}

#bar_mainRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
}

#bar_mainTop {
    font-size: 2vw;
    font-weight: bold;
}

.canvasBar_parent {
    /* height: 325px; */
    height: 50vh;
}

.bar_box, .bar_box-sm {
    border: 0.1vw solid #e4e4e4;
    border-radius: 0.5vw;
    background-color: white;
} 

.bar_box {
    width: 12vw;
    height: 6vw;
    margin: 1vw;
    padding: 1vw;
}

.bar_box-sm {
    width: 7vw;
    padding: 0.5vw 1vw;
}

.bar_box span, #bar_mainBottom, .bar_box-sm span {
    font-size: 1vw;
    color: gray;
}

#bar_mainBottom {
    padding: 1vw 0;
}
.bar_box div, .bar_box-sm div {
    font-weight: 500;
    text-align: end;
}

.bar_box div {
    font-size: 1.5vw;
}

.bar_box-sm div {
    font-size: 1vw;
}