@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.styleL {font-family: Calibri ;font-size: 0.5em;color: #726d64;font-weight: normal;line-height:7pt;}
.styleL2 {font-family: Calibri ;font-size: 0.5em;color: #000000;font-weight: normal;}
#d1 {
	clear: both;
	float: left;
	width: 90%;
	margin-top:40px;
	display: block;
	margin-left: 10px;
}
#d2 {
	clear: none;
	float: left;
	margin-left: 10px;
	margin-top:10px;
	width: 90%;
	display: block;
}
#d3 {
	clear: none;
	float: left;
	margin-left: 10px;
	margin-top:10px;
	width: 90%;
	display: block;
}
#DT {
	clear: both;	
	position: absolute;
	left:87%;
  	top:  5px;
  	width: 150px;
	height:40px;
	text-align: left;
	z-index:1;
	font-family:Calibri ;
	  line-height:16pt;
	  font-size:0.8em;
	  color:#000;
}
#if1{
	width:100%; 
	height:250px; 
	scrolling:no;
}
.style_pink {font-family: Calibri ;font-size: 0.9em;color: #0ca0cb;font-weight: bold;}
.style_blue {font-family: Calibri ;font-size: 0.9em;color: #0ca0cb;font-weight: bold;}
.style_black {font-family: Calibri ;font-size: 0.9em;color: #000;font-weight: normal;}
.style_yellow {font-family: Calibri ;font-size: 0.9em;color: #0ca0cb;font-weight: bold;}
.style_gray {font-family: Calibri ;font-size: 0.9em;color: #726d64;font-weight: normal;}
#con1 { border-radius: 10px;  background: #f2f2f2;  padding: 10px;   width: 70%;  height: 20px; }
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 551px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
.styleL {font-family: Calibri ;font-size: 0.9em;color: #726d64;font-weight: normal;line-height:10pt;}
.styleL2 {font-family: Calibri ;font-size: 1em;color: #000000;font-weight: normal;}
#d1 {
	clear: both;
	float: left;
	width: 29%;
	margin-top:30px;
	display: block;
	margin-left: 10px;
}
#d2 {
	clear: none;
	float: left;
	margin-left: 1.0408%;
	margin-top:30px;
	width: 29%;
	display: block;
}
#d3 {
	clear: none;
	float: left;
	margin-left: 1.0408%;
	margin-top:30px;
	width: 29%;
	display: block;
}
#if1{
	width:100%;  
	height:450px; 
	scrolling:no;
	text-align: center;
}
.style_pink {font-family: Calibri ;font-size: 1em;color: #0ca0cb;font-weight: bold;}
.style_blue {font-family: Calibri ;font-size: 1em;color: #0ca0cb;font-weight: bold;}
.style_black {font-family: Calibri ;font-size: 1em;color: #000;font-weight: normal;}
.style_yellow {font-family: Calibri ;font-size: 1em;color: #0ca0cb;font-weight: bold;}
.style_gray {font-family: Calibri ;font-size: 1em;color: #726d64;font-weight: normal;}
#con1 { border-radius: 10px;  background: #f2f2f2;  padding: 10px;   width: 70%;  height: 20px; }
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 700px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#d1 {
	clear: both;
	float: left;
	width: 29%;
	margin-top:30px;
	display: block;
	margin-left: 10px;
}
#d2 {
	clear: none;
	float: left;
	margin-left: 1.0408%;
	margin-top:30px;
	width: 29%;
	display: block;
}
#d3 {
	clear: none;
	float: left;
	margin-left: 1.0408%;
	margin-top:30px;
	width: 29%;
	display: block;
}
#if1{
	width:100%; 
	height:450px;  
	text-align: center;
}
.style_pink {font-family: Calibri ;font-size: 1.1em;color: #0ca0cb;font-weight: bold;}
.style_blue {font-family: Calibri ;font-size: 1.1em;color: #0ca0cb;font-weight: bold;}
.style_black {font-family: Calibri ;font-size: 1.1em;color: #000;font-weight: normal;}
.style_yellow {font-family: Calibri ;font-size: 1.1em;color: #0ca0cb;font-weight: bold;}
.style_gray {font-family: Calibri ;font-size: 1.1em;color: #726d64;font-weight: normal;}
}