@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

#Txt_head{  
	position: absolute;
	margin-left: 12px;
	padding-bottom:10px;
  	width: 93vw;
	height:40px;
  	top:  90px; 
	border-bottom:solid 0px #000;
	text-align: left;
	z-index:1;
}
#Tim{  
	position: absolute;
	padding-right:20px;
	padding-bottom:30px;
  	width: 96vw;
	height:40px;;
  	top:  5px; 
	text-align: right;
	z-index:1;
}
.styleL {font-family: Calibri ;font-size: 11px;color: #726d64;font-weight: normal;line-height:10pt;}
.styleL2{font-family: Calibri ;font-size: 11px;color: #000000;font-weight: normal;}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
#Txt_head{  
	position: absolute;
	margin-left: 18px;
	padding-bottom:10px;
  	width: 93vw;
	height:20px;
  	top:  100px; 
	border-bottom:solid 0px #000;
	text-align: left;
	z-index:1;
}
#Tim{  
	position: absolute;
	right:10px;
	padding-bottom:30px;
  	width: 140vw;
	height:40px;;
  	top:  5px; 
	text-align: right;
	z-index:1;
}
.styleL {font-family: Calibri ;font-size: 12px;color: #726d64;font-weight: normal;line-height:10pt;}
.styleL2{font-family: Calibri ;font-size: 12px;color: #000000;font-weight: normal;}
}
@media only screen and (min-width: 550px) {
#Txt_head{  
	position: absolute;
	margin-left: 18px;
	padding-bottom:10px;
  	width: 93vw;
	height:20px;
  	top:  100px; 
	border-bottom:solid 0px #000;
	text-align: left;
	z-index:1;
}
#Tim{  
	position: absolute;
	right:10px;
	padding-bottom:30px;
  	width: 67vw;
	height:40px;;
  	top:  5px; 
	text-align: right;
	z-index:1;
}
.styleL {font-family: Calibri ;font-size: 14px;color: #726d64;font-weight: normal;line-height:10pt;}
.styleL2{font-family: Calibri ;font-size: 14px;color: #000000;font-weight: normal;}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 1000px) {
#Txt_head{  
	position: absolute;
	margin-left: 10px;
	padding-bottom:20px;
  	width: 85vw;
	height:10px;
  	top:  -7px; 
	border-bottom:solid 0px #000;
	text-align: left;
	z-index:1;
	background-color:red;
}
#Tim{  
	position: absolute;
	padding-right:20px;
	padding-bottom:30px;
  	width: 82vw;
	height:40px;;
  	top:  20px; 
	text-align: right;
	z-index:1;
}
.styleL {font-family: Calibri ;font-size: 20px;color: #726d64;font-weight: normal;line-height:20pt;}
.styleL2{font-family: Calibri ;font-size: 20px;color: #000000;font-weight: normal;}
}